################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FitnessTracker.Domain/.vs/FitnessTracker.Domain/FileContentIndex
